# where to read the MARS config from 
MARS_CONFIG_PATH=config.json

# connection parameters for the logger DB (can be the same as the main output database)
CONTAINER_NAME=mars_postgis
DB_NAME=soh_truck_fuel_alternative
DB_USER=mars_soh_logistics
DB_PASSWORD=admin
DB_HOST=127.0.0.1
DB_PORT=5432
DB_TABLE=semitruckdriver